* {  box-sizing: border-box; }

body{
    text-align: center;
    position: relative;
    overflow-x: visible;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
        150deg,
        rgb(0, 0, 0) 0%,
        #001630 100%
    );
}




/* COPOS DE NIEVE */


.snowflake{
    overflow-x: visible;
    position: absolute;
    top:-50px;
    user-select: none;
    color:white;
    font-size: 10px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall{
    0%{ transform: translateY(0);}
    100%{
        transform: translateY(100vh);
    }
}











header{
    width: 90%;
    max-width: 500px;
    padding: 40px 20px;
    border: 3px solid rgb(88, 255, 255);
    border-radius: 5px;
    text-align: center;
    animation: slideIn 2s ease forwards;
    
}

h1, h2, button{
    opacity: 0;
    animation-fill-mode: forwards;
}

h1{
  font-family: "Kaushan Script", cursive;
  font-weight: 200;
  font-style: normal;
    color: rgb(255, 255, 255);
    animation: slideIn 1s ease forwards;
    animation-delay: 0.5s;
    letter-spacing: 0.1em;
    opacity: 0;
}

 

h2{
    font-family: "Permanent Marker", cursive;
  font-weight: 300;
  font-style: normal;
    color: rgb(173, 173, 173);
    animation: Slide2 1s ease forwards;
    animation-delay: 2.2s;
    letter-spacing: 0.05em;
    opacity: 0;
}

button{
    opacity: 0;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: transparent;
    color: rgb(77, 160, 255);
    background-color: rgba(0, 0, 0, 0.37);
    font-family: "Oleo Script", system-ui;
  font-weight: 500;
  font-style: normal;
    border-radius: 6px;
    border: transparent;
    transition: all ease-in-out 0.5s;
    animation: boton 1s ease forwards;
    animation-delay: 4s;
}

button:hover{
    border-bottom: 3px solid rgb(0, 119, 255);
    border-top: 3px solid rgb(0, 102, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 4%;
    cursor: pointer;
}

button:active{
    background-color: black;
    color: rgb(177, 211, 250);
}

@keyframes slideIn {

    from{
        transform: translateY(40px); opacity: 0;
    }

    to{
       transform: translateY(0); opacity: 1;
    }
    
}

@keyframes Slide2{

    from{
      transform: translateY(30px); opacity: 0;   
    }

    to{
       transform: translateY(0); opacity: 1;
    }
}

@keyframes boton {
    from{
     transform: translateY(20px); opacity: 0;
    }
  
    to{
     transform: translateY(0); opacity: 1;
    }
}







/*--------> TABLET <-------*/



@media (min-width: 768px) {
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    button{
        font-size: 20px;
        padding: 14px 30px;
    }
}







/*-----> DESKTOP <-----*/

@media (min-width: 1024px){
    header{
        max-width: 600px;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 1.8rem;
    }
}